<template id="homeView">
    <section class="section">
        <img src="images/lettering.png" alt="Descrição da Imagem">
    </section>

    <section class="section">
        <p>
            Você quer compor uma música capaz de mudar o mundo, mas não é músico? 
        </p>
        <p>
            No CriaFimus você cria uma canção em parceria com outras pessoas, usando 
            apenas seus sentimentos como instrumentos musicais. 
        </p>
        <p>   
            Veja como é fácil: 
        </p>
        <p>
            Diga em qual cidade você está e expresse o tamanho de 3 sentimentos seus. Eles 
            serão combinados com 3 sentimentos de outras pessoas espalhadas pelo mundo 
            para gerar uma música poderosa de sua autoria que você pode enviar para qualquer 
            pessoa que você quer animar.
        </p>
        <p>
            Vamos lá, teste aqui:
        </p>
    </section>
    <section class="section">
        <button class="button" id="test">TESTE AQUI</button>
    </section>

</template>



